*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Navbar section */
nav{
    width: 100%;
    height: 75px ;
    background-color: antiquewhite;
    padding: 0px 5%;
    line-height: 75px;
}

nav .logo{
    float: left;
}

nav .logo p{
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: brown;
    text-transform: uppercase;
    margin-left: 50px;
}

nav ul{
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
}

nav ul li{
    list-style: none;
    margin: 0 10px;
}

nav ul li a{
    color: black;
    text-transform: capitalize;
    padding: 0px 20px;
    font-size: 16px;
}

nav ul li a.cta{
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px; 
}

nav ul li a:hover{
    color: brown;
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px;
}

nav label img{
    width: 25px; 
}

.checkbtn{
    display: none;
    float: right;
    cursor: pointer;
    
}
#check{
    display: none;
}

/* Hero Section */

.hero-content{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}
.hero-only{
    margin: 20px;
}
.hero-text{
    width: 40%;
    line-height: 30px;
}
.hero-text h1{
    font-size: 40px;
    color: brown;
}
.hero-text p{
    margin-top: 30px;
    font-size: 18px;
}
.hero-content a{
    background-color: brown;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}
.btn{
    background-color: bisque;
    border: 1px solid brown;
    padding: 10px;
    color: brown;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
}
.btn:hover{
    background-color: brown;
    color: white;
}

/* about Section */
.about{
    background-color: bisque;
}
.about-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.about-text{
    width: 40%;
    line-height: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.about-image{
    margin-top: 60px;
    margin-bottom: 50px;
}
.about-text h1{
    font-size: 40px;
    color: brown;
}
.about-text p{
    margin-top: 30px;
    font-size: 18px;
}


.btn2{
    background-color: bisque;
    border: 1px solid brown;
    padding: 10px;
    color: brown;
    border-radius: 5px;
    margin-top: 30px;
}
.btn2:hover{
    background-color: brown;
    color: white;
}

/* Service section */

.offer-items{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 120px;
}
#alloffer{
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(157, 128, 128);
    border-radius: 15px;
    height: 50vh;
}
#alloffer:hover{
    background-color: bisque;
}

.services h1{
    text-align: center;
    font-size: 40px;
    color: brown;
    margin-top: 50px;
}

.services .offer-p{
    text-align: center;
    font-size:18px ;
    margin-top: 20px;
    width: 70%;
    margin-left: 180px;
}
#alloffer h2{
    margin-top: 30px;
    text-align: center;
    color: brown;
}

#alloffer p{
    text-align: center;
    color: rgb(49, 49, 49);
    line-height: 20px;
}

/* Work Section */
#allportfolio h2{
    margin-top: 30px;
    text-align: center;
    color: brown;
}

#allportfolio p{
    text-align: center;
    color: rgb(49, 49, 49);
    line-height: 20px;
}

.portfolio-items{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 120px;
}
#allportfolio{
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(157, 128, 128);
    border-radius: 15px;
    height: 50vh;
}

.portfolio h1{
    text-align: center;
    font-size: 40px;
    color: brown;
    margin-top: 50px;
}

.portfolio .portfolio-p{
    text-align: center;
    font-size:18px ;
    margin-top: 20px;
    width: 70%;
    margin-left: 180px;
}

#allportfolio:hover{
    background-color: rgb(226, 212, 196);
}

/* contact us */
.contact{
    background-color: bisque;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact h1{
    text-align: center;
    font-size: 40px;
    color: brown;
    margin-top: 50px;
}
form{
    background-color: rgb(69, 16, 16);
    width: 60%;
    margin-left: 260px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;

}
form p{
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type=text]{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border-bottom: 1px solid bisque;
}
input[type=email]{
    background-color: transparent;
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid bisque;
    border-radius: 5px;
}
input[type=submit]{
    background-color: bisque;
    color: brown;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}
input[type=submit]:hover{
    background-color: rgb(195, 180, 161);
}

form textarea{
    width: 100%;
    border-radius: 8px;
}

/* footer section */
footer{
    background-color: rgb(69, 16, 16);
    color: white;
}
.footwear a{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 60px;
    margin-left: 570px;
}

.footwear p{
    text-align: center;
    padding-bottom: 40px;
}
.footwear .fp{
    margin-top: 20px;
}